// Colors
gray = #333
white = #fff
light-blue = #B5D0E2
dark-blue = #2099E8

// Spaces
space-large = 2.5rem

// Title spaces
page-title-space = space-large

// Navigation colors
nav-background = gray
nav-text-color = white

// Clock variables
clock-text-color = white
clock-bg-color = light-blue
clock-border-color = dark-blue
